
<suite name="Motivation block">
    <test name="Test suite">
        <classes>
            <class name="MotivationElementOnCategoryPagesTest" />
            <class name="VerticalAppearanceWithFramesTest" />
            <class name="HorizontalAppearanceWithBackgroundTest" />
            <class name="Element_ShipmentTest" />
            <class name="Elements_PaymentMethods_CategoryListTest" />
        </classes>
    </test>
</suite>